@import "./colors";
@import "./fonts";
@import "./layout";

$groupContainerWidth: 50%;
$itemHeight: 52px;
$avatarSize: 52px;
$closeBtnSize: 24px;
$sendBtnSize: 38px;
$messageTextareaHeight: 42px;

.layout {
    @extend .flex-center-row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.chatHeader {
    @extend .flex-center-column;
    color: $primary-color;
    font-size: $font-size-2;
    font-weight: $font-weight-semi-bold;
    width: 100%;
    height: $itemHeight;
    border-bottom: 0.5px solid rgba($color: #fff, $alpha: 0.1);
    padding: 0;
    margin: 0;
}

.chatContainer {
    display: block;
    @extend .grey-glassmorphism-6;
    width: 49%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.chatBoxPreview {
    border-bottom: 0.5px solid rgba($color: #fff, $alpha: 0.1);
    width: 100%;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    display: grid;
    grid-template-areas: "chatTitle previewMessageTime"
        "previewMessageText previewMessageTime";
    transition: .5s;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}


.chatTitle {
    grid-area: chatTitle;
    padding: 0;
    margin: 0;
    color: $primary-color;
}


.previewMessageText {
    grid-area: previewMessageText;
    padding: 0;
    margin: 0;
    font-size: $font-size-1;
    color: $grey-color-500;
}

.previewMessageTime {
    @extend .flex-center-row;
    justify-content: end;
    font-size: $font-size-1;
    grid-area: previewMessageTime;
    padding: 0;
    margin: 0;
    height: $itemHeight;
    color: $grey-color-500;
}


.messageText {
    padding: 0;
    margin: 0;
    font-size: $font-size-1;
    color: $grey-color-500;
}

.messageTime {
    @extend .flex-center-row;
    justify-content: end;
    font-size: $font-size-1;
    padding: 0;
    margin: 0;
    height: $itemHeight;
    color: $grey-color-500;
}


.chatBoxLayout {
    @extend .grey-glassmorphism-5;
    position: absolute;
    border: 1px solid rgba($color: #fff, $alpha: 0.05);
    width: 100%;
    height: 100%;
}

.chatBoxLayout {
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.chatBoxHeader {
    @extend .flex-center-row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: $primary-color;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.05);
}

.chatBoxCloseBtn {
    @extend .flex-center-row;
    border-radius: 50%;
    width: $closeBtnSize;
    height: $closeBtnSize;
    background-color: rgba($color: #fff, $alpha: 0.05);
    border: 1px solid rgba($color: #fff, $alpha: 0.05);
    margin: 0;
    padding: 0;

    &:hover {
        cursor: pointer;
        background-color: rgba($color: #fff, $alpha: 0.1);
    }
}

.chatBoxCloseIcon {
    @extend .flex-center-row;
    transform: rotate(45deg);

    * {
        fill: $red-color-500;
    }
}

.chatBoxTitle {
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
}

.chatBox {
    display: block;
    @extend .grey-glassmorphism-3;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
    overflow-y: auto;
}

.sendMessageContainer {
    @extend .flex-center-row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.05);
}

.sendMessageInput {
    @extend .grey-glassmorphism-5;
    border-radius: 10px;
    border: 1px solid rgba($color: #fff, $alpha: 0.05);
    width: 90%;
    height: $messageTextareaHeight;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    color: $grey-color-200;
    resize: none;
    white-space: pre-line;
    overflow-wrap: break-word;

    ::placeholder {
        color: $grey-color-500;
    }
}

.sendMessageBtn {
    @extend .grey-glassmorphism-5;
    border-radius: 50%;
    width: $sendBtnSize;
    height: $sendBtnSize;

    &:hover {
        cursor: pointer;
        background-color: rgba($color: #fff, $alpha: 0.1);
    }
}

.sendMessageIcon {
    color: $primary-color;

}

.sendMessage {
    @extend .flex-center-row;
    width: fit-content;
    height: fit-content;
    margin-left: auto;

}

.receivedMessage {
    @extend .flex-center-row;
    width: fit-content;
    height: fit-content;
    margin-right: auto;

}

.messageText {
    font-size: $font-size-1;
    font-weight: $font-weight-semi-bold;
    color: $grey-color-300;
    background-color: rgba($color: $grey-color-500, $alpha: 0.1);
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}