@import "./colors";
@import "./fonts";
@import "./layout";


.container {
    @extend .grey-glassmorphism-3;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    * {
        font-family: $lato-font;
    }

    span {
        font-weight: $font-weight-regular;
    }

    a {
        font-weight: $font-weight-light;
        font-size: $font-size-1;
        margin: 0;
        color: white;
        text-decoration: none;
        margin: 8px;
    }
}

.map-container--actived {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
    transform: scale(1.1);
}

.map-container--disabled {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    outline: none;
    z-index: 1;
    transform: scale(1.1);

    * {
        pointer-events: none;
    }
}

@keyframes scan {
    from {
        width: 20px;
        height: 20px;
    }

    to {
        width: 35px;
        height: 35px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes slow-blink {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.1;
    }
}

.skeleton-loading {
    @extend .flex-center-column;
    @extend .grey-glassmorphism-2;
    background: linear-gradient(-45deg, #0e0d0d5e, #35353565, #0e0d0d5e, #35353565);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;

    p {
        font-size: $font-size-1;
        font-weight: $font-weight-medium;
        color: $grey-color-300;
        animation: slow-blink 1s infinite;
        animation-fill-mode: forwards;
        animation-direction: alternate-reverse;
    }
}

.map__marker--green {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;

    .map-marker__point {
        position: absolute;
        background-color: $primary-color;
        background-size: cover;
        margin: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .map-marker__outter {
        position: absolute;
        border: 1px solid $primary-color;
        background-color: $primary-color-50;
        background-size: cover;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: scan 0.5s infinite;
        animation-fill-mode: forwards;
        animation-direction: alternate-reverse;

    }
}

.map__marker--red {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;

    .map-marker__point {
        position: absolute;
        background-color: $red-color-500;
        background-size: cover;
        margin: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .map-marker__outter {
        position: absolute;
        border: 1px solid $red-color-500;
        background-color: $red-color-500-50;
        background-size: cover;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        animation: scan 0.5s infinite;
        animation-fill-mode: forwards;
        animation-direction: alternate-reverse;
    }
}

.hide {
    @extend .container;
    display: none;
}

.map-controller-container {
    @extend .flex-center-column;
    position: absolute;
    right: 20px;
    top: 20px;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}

.map-controller__btn-container {
    @extend .flex-center-column;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    overflow: hidden;
}

.map-controller__devider {
    @extend .flex-center-column;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}


.map-controller__btn {
    @extend .flex-center-column;
    background: rgba(0, 0, 0, 0.3);

    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    transition: .2s ease-in-out;

    &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);
    }

    svg {
        * {
            fill: $primary-color;
        }

    }
}