@import "../../../styles/fonts";
@import "../../../styles/colors";
@import "../../../styles/layout";


$item-height: 100px;

.search-controller-container {
    display: flex;
    @extend .grey-glassmorphism-4;
    padding: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 344px;
    z-index: 2;
    overflow: hidden;
    height: fit-content;
    max-height: 95%;
}

.search-panel {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "addressContainer addressContainer addressContainer"
        "searchContainer searchContainer searchContainer"
        "distanceContainer distanceContainer durationContainer"
        "searchBtn searchBtn searchBtn"
    ;
    width: 100%;
    height: fit-content;
}

.search-panel__address-container {
    grid-area: addressContainer;
    @extend .flex-center-row;
    justify-content: flex-start;

    * {
        fill: $primary-color;
    }

    button {
        font-size: $font-size-2;
        font-weight: $font-weight-light;
        color: $primary-color;
        width: 90%;
        margin: 10px;
        background: transparent;
        border: none;
        outline: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

}

.search-panel__input-container {
    @extend .flex-center-column;
    grid-area: searchContainer;
    position: relative;
    width: 100%;
    height: 42px;
    margin: 0;
    padding: 0;
}

.search-panel-input__placeholder {
    position: absolute;
    @extend .center;
    @extend .flex-center-row;

    font-size: $font-size-1;
    font-weight: $font-weight-semi-bold;
    color: $glass-white-30;
}


.search-panel-input__input {
    @extend .center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(50, 50, 50, .5);
    opacity: 1;
    border: none;
    text-align: center;
    outline: none;
    color: $grey-color-300;
    font-size: $font-size-1;
    font-weight: $font-weight-regular;
}

.search-panel-input__icon {
    margin-right: 5px;
    transform: scale(1);

    * {
        fill: $glass-white-30;
    }
}

.search-panel__slider-container {
    grid-area: distanceContainer;
    @extend .flex-center-column;
    color: $primary-color;
    font-size: $font-size-1;
    align-items: flex-start;

    justify-content: flex-start;
}

.search-panel__radius-container {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    align-items: flex-start;

}

.search-panel__duration-container {

    grid-area: durationContainer;
    @extend .flex-center-column;
    width: 100%;
    align-items: flex-start;
    color: $primary-color;
    font-size: $font-size-1;
}

.search-panel__duration-input {
    border-radius: 5px;
    background: rgba(50, 50, 50, .5);
    opacity: 1;
    outline: none;
    color: $grey-color-100;
    font-size: $font-size-1;
    font-weight: $font-weight-semi-bold;
    border: none;
    width: 100%;
    height: 42px;
    padding: 10px;
}


.search-panel__slider {
    @extend .flex-center-row;
    margin-top: 10%;
    -webkit-appearance: none;
    width: 70%;
    height: 5px;
    // background: $glass-white-10;
    outline: none;
    opacity: 0.7;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: $glass-white-30;

}

.search-panel__slider:hover {
    opacity: 1;
}

.search-panel__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: $primary-color;
    border-radius: 50%;
    cursor: pointer;
}

.search-panel__slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: $primary-color;
    cursor: pointer;
}

.search-panel__search-btn {
    grid-area: searchBtn;
    color: $glass-white-20;
    transition: .2s;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: $font-size-3;
    font-weight: $font-weight-semi-bold;
    padding: 0;
    margin: 0;

    &:hover {
        color: $grey-color-300;
        cursor: pointer;
    }
}

.hide {

    display: none;
}



.location-panel-container {

    @extend .flex-center-column;
    width: 100%;
}

.location-panel__address-container {
    position: relative;
    @extend .flex-center-row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 20px;
    padding: 0;
    color: $primary-color;
    font-size: $font-size-1;
    font-weight: $font-weight-semi-bold;

    svg {
        * {
            fill: $grey-color-500;
        }

        position: absolute;
        left: 15px;
        z-index: 2;
    }
}

.location-panel__address-input {
    position: relative;
    @extend .flex-center-row;
    width: 100%;
    height: 42px;
    margin: 0;
    padding: 10px;
    padding-left: 40px;
    border-radius: 5px;
    background: rgba(50, 50, 50, 1);
    opacity: 1;
    border: none;
    text-align: center;
    outline: none;
    color: $grey-color-100;
    font-size: $font-size-1;
    font-weight: $font-weight-semi-bold;
    z-index: 1;
}

.location-panel__result-container {
    position: relative;
    display: block;
    width: 100%;
    overflow-y: auto;


    &::-webkit-scrollbar {
        width: 5px;
        background: $glass-white-10;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: $glass-white-20;
        border-radius: 20px;
    }
}

.location-panel__result-item {
    position: relative;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid $glass-white-10;
    font-size: $font-size-1;
    font-weight: $font-weight-regular;
    color: $grey-color-500;
    padding-top: 15px;
    padding-bottom: 15px;

    &:hover {
        cursor: pointer;
        color: $primary-color;
    }
}

.search-navigation__location-picker {
    @extend .flex-center-row;
    background: transparent;
    border: none;
    outline: none;

    svg {
        transform: scale(1.4);
    }

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    &[data-is-picking="true"] {
        svg {
            * {
                fill: $glass-white-30;
            }
        }

    }

}

.search-navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
}

.search-navigation__btn {
    @extend .flex-center-row;
    color: $primary-color;
    font-size: $font-size-2;
    background: transparent;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.search-navigation__loader {
    border: 3px solid $glass-white-10;
    /* Light grey */
    border-top: 3px solid $primary-color;
    /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.result-panel-container {
    @extend .flex-center-column;
    width: 100%;
    height: 100%;

}

.result-panel__result-container {
    @extend .flex-center-column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    border: 1px solid $glass-white-10;

    &::-webkit-scrollbar {
        width: 1px;
        background-color: transparent;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color: $grey-color-500, $alpha: .1);
        border-radius: 20px;
    }
}

.result-item {
    @extend .grey-glassmorphism-3;
    @extend .flex-center-column;
    width: 100%;
    height: fit-content;
    min-width: 200px;
    margin-bottom: 20px;

    &:hover {

        cursor: pointer;

        p {
            color: $primary-color;
        }
    }

}

.result-item-nested {
    @extend .flex-center-column;
    width: 100%;
    height: $item-height;
    padding-left: 10px;
    padding-right: 10px;
}


.result-title-container {
    @extend .flex-center-row;
    width: 100%;
    height: 28px;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    margin: 0;
}

.result-title--left {
    font-size: $font-size-1;
    font-weight: $font-weight-bold;
    color: $grey-color-100;
}

.result-title--right {
    font-size: $font-size-1;
    font-weight: $font-weight-regular;
    color: $grey-color-500;
}

.result__extended {
    @extend .flex-center-column;
    width: 100%;
    height: fit-content;
}

.result-extended-nested {
    @extend .flex-center-column;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.result-extended__btn-container {
    @extend .flex-center-row;
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
}

.result-extended__btn {

    width: 40%;
    height: 38px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba($color: $grey-color-600, $alpha: .1);
    transition: .2;

    &:hover {
        cursor: pointer;
        opacity: .8;
    }


}

.result-extended__btn-approve {
    @extend .result-extended__btn;
    color: $primary-color;
}

.result-extended__btn-decline {
    @extend .result-extended__btn;
    color: $red-color-500;
}