$primary-color: #34AE73;
$ligtgray-color: #909090;
$radial-glass-grey-background: radial-gradient(103.51% 5596.75% at 100% 60.53%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 46.88%, rgba(255, 255, 255, 0.1) 100%);
$glass-grey-30: rgba(255, 255, 255, 0.3);
$glass-grey-20: rgba(255, 255, 255, 0.2);