@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab-font: 'Roboto Slab',
serif;
$open-san-font: 'Open Sans',
sans-serif;
$lato-font : 'Lato',
sans-serif;

$lato-thin-weight: 100;
$lato-light-weight: 300;
$lato-regular-weight: 400;
$lato-bold-weight: 700;
$lato-black-weight: 900;

$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 1.4rem;
$font-size-4: 1.6rem;
$font-size-5: 1.8rem;
$font-size-6: 2rem;
$font-size-7: 2.2rem;